/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dashboard Container Styles */
.dashboard {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(240, 240, 250, 0.85)), url('Careers.jfif');
  background-position: center;
  background-size: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* User Info Container */
.user-info {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading Styles */
.dashboard h2 {
  color: black; /*Black*/
  margin-top: 0;
  font-size: 2.5em;
  font-weight: 700;
  
}

/* Paragraph Styles */
.dashboard p {
  color: #2f3542;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 10px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Profile Picture Styles */
#user-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #3742fa;
  object-fit: cover;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

#user-photo:hover {
  transform: scale(1.1);
}

/* Button Styles */
.button {
  background-color: #3742fa;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #5352ed;
  transform: scale(1.1);
}

/* Text glow animation */
@keyframes textGlow {
  from {
    text-shadow: 0 0 10px #ff4757, 0 0 20px #ff6b81, 0 0 30px #ffa502;
  }
  to {
    text-shadow: 0 0 20px #ffa502, 0 0 30px #ff4757, 0 0 40px #ff6b81;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  #user-photo {
    width: 100px;
    height: 100px;
  }

  .button {
    padding: 10px 15px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  #user-photo {
    width: 80px;
    height: 80px;
  }

  .button {
    padding: 8px 12px;
    font-size: 0.8em;
  }

  .dashboard p {
    font-size: 1em;
  }

  .dashboard h2 {
    font-size: 1.8em;
  }
}
